.gt-logo {
    display: block;
    width: 43px;
    height: 43px;
    fill: rgb(41, 255, 137);
    margin: 15px;
}

.landing-container {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.landing-bg-container {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../assets/images/landing_background.jpg');
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-logo-container {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    transition: top 500ms ease-in-out, transform 500ms,
}

h1 {
    color: white;
    font-size: 1.5rem;
}

.landing-nav-container {
    position: relative;

    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.landing-nav-items {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    
    transform: scaleY(0.7);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    border: none;
}

.wheel-controller {
    // transition: opacity 300ms ease-in-out;
    // opacity: 0;
    width: 80vw;
    height: 100vh;
}